<!DOCTYPE html>
<html lang="en">
{% extends 'newBase.html' %}
{% block title %}Home{% endblock %}

{% block css %}
	<link rel="stylesheet" href="../static/style.css">
{% endblock %}

{% block content %}
	<main class="main-content">
    <section class="content">
        <aside class="sidebar">
            <div class="chart-section">
                <h2>Expenses</h2>
                <div class="chart" id="expenses-chart"></div>
            </div>
            <div class="chart-section">
                <h2>Investments</h2>
                <div class="chart" id="investments-chart"></div>
            </div>
        </aside>

        <section class="main-section">
            <section class="hero">
                <h1>Effortless Budget Management</h1>
                <p>Your trusted companion for staying financially smart.</p>
            </section>

            <section class="features">
                <h2>Our Features</h2>
                <div class="features-container">
                    <div class="feature-box">Track Expenses</div>
                    <div class="feature-box">Monitor Investments</div>
                    <div class="feature-box">Set Goals</div>
                </div>
            </section>
        </section>
    </section>
</main>



<script src="../static/script.js"></script>
{% endblock %}


