{% extends 'newBase.html' %}

{% block title %}Login{% endblock %}

{% block css %}
    <link rel="stylesheet" href="../static/login.css">
{% endblock %}

{% block content %}
    <div class="login-container">
        <div class="login-form">
            <h2>Login</h2>
            <!-- Login Form -->
            <form id="loginForm" method="POST" action="/login" onsubmit="validateForm()">
                <div class="input-group">
                    <label for="username">Username/Email</label>
                    <input type="text" id="username" name="username" placeholder="Enter your username/email" required>
                </div>
                <div class="input-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="Enter your password" required>
                </div>
                <button type="submit">Login</button>
            </form>
            <!-- Additional Links -->
            <div class="login-links">
                <a href="/signup">Sign Up</a>
            </div>
        </div>
    </div>
{% endblock %}