<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title%}{% endblock %}</title>
  {% block css%}{% endblock %}
  <link rel="stylesheet" href="/static/newBase.css">
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <div id="sidebar">
    <ul>
      <li><a href="\">🏠</a></li>
      <li><a href="#">hello {{ current_user }}</a></li>
      {% if current_user == "guest" %}
      <li><a href="/signup">Sign Up</a></li>
        <li><a href="/login">Log In</a></li>
        {% else %}
        <li><a href="/expenses">Expenses</a></li>
        <li><a href="/stocks">Stocks</a></li>
        <li><a href="/money_management">Money Management</a></li>
        <li><a href="/sign_out">Sign Out</a></li>
        {% endif %}
        {%if is_admin %}
            <li><a href="/users">users</a></li>
        {% endif %}
    </ul>
  </div>
  <div id="content">
    {% block content%}{% endblock %}
  </div>
  <script src="/static/newBase.js"></script>
</body>
</html>
