<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title%}{% endblock %}</title>
  {% block css%}{% endblock %}
  <link rel="stylesheet" href="/static/newBase.css">
</head>
<body>
  <div id="sidebar">
    <ul>
      <li><a href="#">🏠</a></li>
      <li><a href="#">hello {{ current_user }}</a></li>
      {% if current_user == "guest" %}
      <li><a href="/signup">Sign Up</a></li>
        <li><a href="/login">Log In</a></li>
        {% else %}
        <li><a href="/sign_out">Log Out</a></li>
      <li><a href="#">Budget</a></li>
      <li><a href="#">Educate</a></li>
      <li><a href="#">Investments</a></li>
        {% endif %}
    </ul>
  </div>
  <div id="content">
    {% block content%}{% endblock %}
  </div>
  <script src="/static/newBase.js"></script>
</body>
</html>
