<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>

</head>
<body>
    <h1>Sign up</h1>
    <form method="POST" id="login-form" onsubmit="validateForm()">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <span id="username-error" style="color:red;"></span>
        <br><br>

        <label for="password">Password:</label>
        <input type="text" id="password" name="password" required>
        <span id="password-error" style="color:red;"></span>
        <br><br>

        <label for="confirm-password">Confirm Password:</label>
        <input type="text" id="confirm-password" name="confirm-password" required>
        <span id="confirm-password-error" style="color:red;"></span>
        <br><br>

        <label for="first-name">First Name:</label>
        <input type="text" id="first-name" name="first-name" required>
        <span id="first-name-error" style="color:red;"></span>
        <br><br>

        <label for="last-name">Last Name:</label>
        <input type="text" id="last-name" name="last-name" required>
        <span id="last-name-error" style="color:red;"></span>
        <br><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <span id="email-error" style="color:red;"></span>
        <br><br>

        <button type="submit">Submit</button>
        <button type="button" onclick="resetForm()">Reset</button>
        <button type="button" onclick="showPassword()">Show</button>
    </form>
    <p style="color: red">{{ error }}</p>
    <script src="/static/signup.js"></script>
</body>
</html>
